*
{
    margin: 0;
    padding: 0;
}

.nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;

    background-color: black;
    padding: 5px;
}

.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__illustration
{
    width: -webkit-fill-available;
}

.filter-form
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #23b2a4;
    padding: 20px;
    color: black;}

.filter-form__when, .filter-form__domain, .filter-form__contract
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    min-width: 280px;
}

.filter-form__domain
{
    min-width: 380px;
}

.filter-form__contract
{
    min-width: 350px;
}

.filter-form__when__label, .filter-form__domain__label, .filter-form__contract__label
{
     font-size: 2em;
}

.filter-form__when__select, .filter-form__domain__select, .filter-form__contract__select
{
    border-radius: 5px 5px 5px 5px;
    font-size: 1.5em;
}
