*
{
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: "Montserrat";
    src: url("/font/montserrat/ttf/Montserrat-Regular.ttf");
}

@font-face
{
    font-family: "MontSerratBlack";
    src: url("/font/montserrat/ttf/Montserrat-Black.ttf");
}

.nav
{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 3;
    width: -webkit-fill-available;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0.5) 100%), no-repeat;
}

.nav__logo
{
        width: 170px;
}

.nav a
{
    text-decoration: none;
    color: white;
    font-family: MontSerratBlack,serif,"Montserrat", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.nav__menu
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 800px;
}

.nav__menu__canditate
{
    padding: 12px 20px;
    background-color: rgba(0,160,147);
    border-radius: 25px;
}
