.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.header__illustration {
    width: -webkit-fill-available;
}

.header__text {
    align-items: center;
    text-align: center;
    line-height: 5vw;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    padding-top: 15vw;
    /* padding-bottom: 4em; */
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), no-repeat;
}

.filter-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #23b2a4;
    color: black;
}

.filter-form__when, .filter-form__domain, .filter-form__contract {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    min-width: 280px;
}

.filter-form__domain {
    min-width: 380px;
}

.filter-form__contract {
    min-width: 350px;
}

.filter-form__when__label, .filter-form__domain__label, .filter-form__contract__label {
    font-size: 2em;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

.filter-form__when__select, .filter-form__domain__select, .filter-form__contract__select {
    box-shadow: 0px 15px 23px -15px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    font-size: 1.5em;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    margin-left: 25px;
}

.filter-form__keywords {
    height: 43px;
    text-align: center;
    border: none;
    max-width: 300px;
    font-size: 1.5em;
    border-radius: 5px;
    box-shadow: 0px 6px 17px -7px rgba(0, 0, 0);
    margin: 20px;
}

.filter-form__button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin: 20px;
}

.filter-form__button-search {
    width: 60px;
    border-radius: 10px;
    box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.75);
}

.profil-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;

    background-color: #F3F2F2;
}

.profil-container__ligne {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: -webkit-fill-available;
}

.profil-card {
    height: 450px;
    width: 300px;
    padding: 10px;
    margin: 50px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 15px 23px -15px rgba(0, 0, 0, 0.75);
    background-color: white;
}

.profil-card__header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.profil-card__logo {
    width: 200px;
}

.profil-card__picto {
    width: 65px;
}

.profil-card__title {
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3em;
    max-height: 25px;
    width: -webkit-fill-available;
    text-align: justify;
    text-align: center;
    color: black;
    text-decoration: none;

    margin-bottom: 10px;
}

.profil-card__title__link {
    color: black;
    text-decoration: none;
}

.profil-card__keywords-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    min-height: 90px;
}

.profil-card__keywords-container__keywords {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 15px 23px -15px rgba(0, 0, 0, 0.75);
    background-color: #23b2a4;
    padding: 5px;
    margin: 5px;
    color: white;

    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
}

.profil-card__desc {
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1em;
}
